---
import NavbarItem from "./NavbarItem.astro";
---

<nav class="flex justify-between mt-5 mx-2.5">
  <ul class="flex">
    <NavbarItem href="/" iconName="mdi:folder-home" />
    <NavbarItem href="/digitalgarden" iconName="mdi:folder-account" />
  </ul>
  <ul class="flex">
    <NavbarItem
      href="https://www.linkedin.com/in/marcosmdev/"
      iconName="mdi:linkedin"
    />
    <NavbarItem
      href="https://github.com/marcosmagallanes"
      iconName="mdi:github"
    />
    <NavbarItem href="https://twitter.com/marcosm_dev" iconName="mdi:twitter" />
    <NavbarItem
      href="mailto:marcos.m.magallanes@gmail.com"
      iconName="mdi:email"
    />
  </ul>
</nav>
